<footer style="background-color: #343a40; color: white; padding: 2px 0;">
  <div class="container text-center">
      <!-- Social Icons -->
      <div>
          <a href="#" class="text-white mx-1" style="font-size: 1.1rem;">
              <i class="fa-brands fa-facebook"></i>
          </a>
          <a href="#" class="text-white mx-1" style="font-size: 1.1rem;">
              <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="#" class="text-white mx-1" style="font-size: 1.1rem;">
              <i class="fa-brands fa-youtube"></i>
          </a>
          <a href="#" class="text-white mx-1" style="font-size: 1.1rem;">
              <i class="fa-brands fa-twitter"></i>
          </a>
      </div>

      <!-- Brand Info & Links -->
      <div class="mt-1" style="font-size: 0.8rem;">
          <span>&copy; 2025 <strong>Expense Tracker</strong></span>
      </div>
      <div class="mt-1">
          <a href="/privacy" class="text-white mx-2" style="font-size: 0.8rem;">Privacy</a> |
          <a href="/terms" class="text-white mx-2" style="font-size: 0.8rem;">Terms</a>
      </div>
  </div>
</footer>
